---
import ThemeBootstrap from "../components/theme_bootstrap.astro";
import ProjectMenu from "../components/project_menu.astro";
import "../styles/global.css";
---

<head>
    <title>Photography</title>
    <ThemeBootstrap />
</head>

<ProjectMenu />
<main class="project-page">
    <h1>Photography</h1>
    <div class="divider"></div>
    <p class="project-copy">
        A collection of photographic studies and commissions. Image set to be curated, please check back soon.
    </p>
</main>
