---
import PageHomeLink from "./page_home_link.astro";
import ModeTogglePage from "./mode_toggle_page.astro";
---

<div class="project-menu">
    <div class="project-menu-group">
        <PageHomeLink />
        <a class="page-socials" href="https://www.instagram.com/lnp.studio.arch" target="_blank" rel="noreferrer">socials.</a>
        <a class="page-contact" href="mailto:studio€lnp-studio.com">contact.</a>
    </div>
    <div class="project-menu-group">
        <ModeTogglePage />
    </div>
</div>
